hr {
    page-break-after: always;
    border: none;
    width: 0px; 
}

h1 {
    padding-top: 10rem;
    text-align: center;
}

h2 {
    padding-bottom: 0.25em;
    border-bottom: solid 1px #999999;
}

body {
    font-size: 2rem;
    line-height: 2.5rem;
}